@{
    ViewBag.Title = "Home Page";
}

<div id="fb-root"></div>
<script>
    var fbAppID = 342700949110604;
    var userFBID;

    $(document).ready(function () {

        window.fbAsyncInit = function () {
            FB.init({
                appId: fbAppID,
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                //channelUrl: window.location.protocol + "//" + window.location.hostname + "/fbchannel.html",
                channelUrl: 'http://ec2-23-21-169-98.compute-1.amazonaws.com/channel.html', // Channel File
                oauth: true, //enables OAuth 2.0
                frictionlessRequests : true,
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {

                if (response.status === 'connected') {
                    // the user is logged in and connected to your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    userFBID = uid;
                    $("#image").show();
                    //alert('the user is logged in and connected ' + uid);
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    //but not connected to the app
                    //alert('not connected to the app ');
                     $("#image").hide();
                } else {
                    // the user isn't even logged in to Facebook.
                    //alert('the user is not  logged in to Facebook.');
                    $("#image").hide();
                }

                FB.api('/me', function (user) {
                    if (user) {
                        var image = document.getElementById('image');
                        image.src = 'http://graph.facebook.com/' + user.id + '/picture'
                        var name = document.getElementById('name');
                        if (user.name !== undefined) {
                            name.innerHTML = "Welcome " + user.name;
                            userFBID = user.id;
                            $("#registerLink").hide();

                            $.ajax({ url: "/home/register", data: { facebookID: user.id, firstName: user.first_name, lastName: user.last_name }, async: true, dataType: "json", type: "post", success: function (data) { } });
                        }
                    }
                });

                FB.api('/me/friends', function (friends) { 
                    
                    var friendSource = $.map(friends.data, function(val, i){
                      return {
                            label: val.name,
                            value: val.id,
                        };
                    });

                    var playPool = "";
                    var waitingPool = "";
                    var invitePool = "";
                    $.each(friendSource, function (i, friend) {

                        $.ajax({ url: "/game/get", data: { FBID1: userFBID, FBID2: friend.value }, async: true, dataType: "json", type: "post", success: function (gameData) { 

                            friend.gameID = gameData.gameID;
                            var tempString = "";

                            tempString += '<li>';
                            tempString += '<h4>'+friend.label+'</h4>'; 
                            if(gameData.pendingPlayerFBID == null)
                            {
                                tempString += '<a href="#" onclick="Invite(' + friend.value + ')">Invite</a>';
                                friend.gameState = "Invite";
                            }
                            else if(gameData.pendingPlayerFBID == userFBID)
                            {
                                tempString += '<a href="#" onclick="LoadGame(' + gameData.gameID + ')" >Play</a>';
                                friend.gameState = "Play";
                            }
                            else
                            {
                                tempString += 'Waiting...';
                                friend.gameState = "Waiting...";
                            }
                            tempString += '</li>';
                            
                            if(friend.gameState == "Play")
                            {
                                playPool += tempString;
                            }
                            else if (friend.gameState == "Waiting...")
                            {
                                waitingPool += tempString;
                            }
                            else
                            {
                                invitePool += tempString;
                            }

                            var fullPool = playPool + waitingPool + invitePool;

                            $('#friendsList').html(fullPool);

                            // update autocomplete
                            $("#searchText").autocomplete({
			                    source: friendSource,
                                select: function(event, item) {
                                    if(item.item.gameState == "Invite")
                                    {
                                        Invite(item.item.value);
                                    }
                                    else 
                                    {
                                       LoadGame(item.item.gameID);
                                    }
                                    return false;
                                },
		                    }).data("autocomplete")._renderItem = function (ul, item) {
                                return $("<li></li>")
	                            .data("item.autocomplete", item)
	                            .append('<a><div><h4>' + item.label + '</h4></div><div>' + item.gameState + '</div></a>')
	                            .appendTo(ul);
                            };

                        }});
                    });
                });

            });
        };
    });

    function Invite(id) {
        FB.ui({
            method: 'apprequests',
            message: 'I challenge you to a game of Polar TicTacToe!',
            to: id,
        }, 
            function requestCallback(response)
            {
            //console.log(response);
            if(response && response.request) {
                    // Here, requests have been sent, facebook gives you the request and the array of recipients
                    window.location = '@PolarTicTacToe.Utils.GlobalVars.WEBSITE_URL'+'/game/create?OpponentFBID='+id;
            } else {
                    // No requests sent, you can do what you want (like...nothing, and stay on the page).
            }
        });
    }  

    function LoadGame(id) {
        window.location = '/game/' + id + '/play/';
    }  

    (function () {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js#xfbml=1';
        //e.src = document.location.protocol + '//cbeta.grosocial.com/assets/js/facebook/en_US_all_3.js#xfbml=1'; // Load a cached version for now
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    } ());

</script>

<h2>Template</h2>
<p>
	Konrad Group Template
</p>

@ViewBag.access_token

<a id="registerLink" href="https://www.facebook.com/dialog/oauth?client_id=@PolarTicTacToe.Utils.GlobalVars.FB_APP_ID&redirect_uri=@PolarTicTacToe.Utils.GlobalVars.WEBSITE_URL">Register</a>


<img id="image"/>  
<p id="name" style="padding-bottom:7px; font-weight:bold; font-size:13px;" color="white"></p>

Search: <input id="searchText" type="text" />

<ul id="friendsList">
</ul>   