@{
    ViewBag.Title = "Home Page";
    ViewBag.Title = "Play";
    int UserID = ViewBag.User != null ? ViewBag.User.ID : -1;
}

@section ExtraHeaderContent {
<script type="text/javascript" src="/Assets/js/raphael-min.js"></script>
}

@section FooterScripts {
    <script type="text/javascript" src="/assets/js/game.js"></script>
}

<div id="fb-root"></div>
<script>
    var fbAppID = 342700949110604;
    var userFBID;
    var isMyTurn = false;
    var gameId;
    var userId = @UserID;
    var game;
    var fill;
    var friendGameStatus;

    $(document).ready(function () {

        setInterval(function () {
        
            //UpdateFriendsList();

            if(game != null && gameId!= null)
            {
                $.get("/game/" + gameId + "/moves", function (data) {
                
                curAppRequest = data.curAppRequest;
                //console.log(data);
                game.PendingPlayerID = data.PendingPlayerID;
                if (game.PendingPlayerID == @ViewBag.User.ID)
                {    
                    isMyTurn = true;
                    $('#turnDialog').html("It's your turn.");
                }
                else
                {
                    isMyTurn = false;
                    $('#turnDialog').html("Waiting for other player");
                }

                game.setMoves(data.moves);
                game.draw();
                    if (data.winner != null){
                        if (data.winner == userId){
                            $('#winner').html("You are the winner!");
                        }else{
                            $('#winner').html("You lose!");
                        }
                    }
                }, "json");

            }
        }, 1000);
       

        window.fbAsyncInit = function () {
            FB.init({
                appId: fbAppID,
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                //channelUrl: window.location.protocol + "//" + window.location.hostname + "/fbchannel.html",
                channelUrl: 'http://ec2-23-21-169-98.compute-1.amazonaws.com/channel.html', // Channel File
                oauth: true, //enables OAuth 2.0
                frictionlessRequests : true,
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {

                if (response.status === 'connected') {
                    // the user is logged in and connected to your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    userFBID = uid;
                    $("#image").show();
                    //alert('the user is logged in and connected ' + uid);
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    //but not connected to the app
                    //alert('not connected to the app ');
                     $("#image").hide();
                } else {
                    // the user isn't even logged in to Facebook.
                    //alert('the user is not  logged in to Facebook.');
                    $("#image").hide();
                }

                FB.api('/me', function (user) {
                    if (user) {
                        var image = document.getElementById('image');
                        image.src = 'http://graph.facebook.com/' + user.id + '/picture'
                        var name = document.getElementById('name');
                        if (user.name !== undefined) {
                            name.innerHTML = "Welcome " + user.name;
                            userFBID = user.id;
                            $("#registerLink").hide();

                            $.ajax({ url: "/home/register", data: { facebookID: user.id, firstName: user.first_name, lastName: user.last_name }, async: true, dataType: "json", type: "post", success: function (data) { } });
                        }
                    }
                });

                UpdateFriendsList();
            });
        };
    });

    function UpdateFriendsList()
    {
        FB.api('/me/friends', function (friends) { 
        
            var friendSource = $.map(friends.data, function(val, i){
                return {
                    label: val.name,
                    value: val.id,
                };
            });

            var playPool = "";
            var waitingPool = "";
            var invitePool = ""; 
            $.each(friendSource, function (i, friend) {

                $.ajax({ url: "/game/get", data: { FBID1: userFBID, FBID2: friend.value }, async: true, dataType: "json", type: "post", success: function (gameData) { 
                   
                        friend.gameID = gameData.gameID;
                        var tempString = "";

                        tempString += '<li>';
                        tempString += '<h4>'+friend.label+'</h4>'; 
                        if(gameData.pendingPlayerFBID == null)
                        {
                            tempString += '<a href="#" onclick="Invite(' + friend.value + ')">Invite</a>';
                            friend.gameState = "Invite";
                        }
                        else if(gameData.pendingPlayerFBID == userFBID)
                        {
                            tempString += '<a href="#" onclick="LoadGame(' + gameData.gameID + ')" >Play</a>';
                            friend.gameState = "Play";
                        }
                        else
                        {
                            tempString += '<a href="#" onclick="LoadGame(' + gameData.gameID + ')" >Waiting...</a>';
                            friend.gameState = "Waiting...";
                        }
                        tempString += '</li>';
                            
                        if(friend.gameState == "Play")
                        {
                            playPool += tempString;
                        }
                        else if (friend.gameState == "Waiting...")
                        {
                            waitingPool += tempString;
                        }
                        else
                        {
                            invitePool += tempString;
                        }

                        var newPool = playPool + waitingPool + invitePool;

                        $('#friendsList').html(newPool);

                        // update autocomplete
                        $("#searchText").autocomplete({
			                source: friendSource,
                            select: function(event, item) {
                                if(item.item.gameState == "Invite")
                                {
                                    Invite(item.item.value);
                                }
                                else 
                                {
                                    LoadGame(item.item.gameID);
                                }
                                return false;
                            },
		                }).data("autocomplete")._renderItem = function (ul, item) {
                            return $("<li></li>")
	                        .data("item.autocomplete", item)
	                        .append('<a><div><h4>' + item.label + '</h4></div><div>' + item.gameState + '</div></a>')
	                        .appendTo(ul);
                        };

                }});
            });
        });
    }

    function DeleteRequest(requestId) {
      FB.api(requestId, 'delete', function(response) {
        console.log(response);
      });
    }

    function Invite(id) {
        FB.ui({
            method: 'apprequests',
            message: 'I challenge you to a game of Polar TicTacToe!',
            to: id,
        }, 

        function requestCallback(response)
        {
            //console.log(response);
            if(response && response.request) {   
                $.get('/game/create?OpponentFBID='+id+'&appRequest='+response.request, function(data){
                    gameId = data.ID;
                    game = data;
                });
            } else {
                    // No requests sent, you can do what you want (like...nothing, and stay on the page).
            }
        });
    }  

    function playMove(x, y, section) {

        $.post("/game/" + gameId + "/playmove", { x: x, y: y }, function (data) {
            if (data.isValid == true) {
                section.attr({ fill: fill });
            }
            if (data.winner != null){
                if (data.winner == userId) {
                    $('#winner').html("You are the winner!");
                }else{
                    $('#winner').html("You lose!");
                }
            }
        });
    }

    function LoadGame(id) {
        gameId = id;

        $.get("/game/" + gameId, function(data){ 
            
            curAppRequest = data.curAppRequest;

            fill = "#60af75";

            if (data.OpponentID == userId)
                fill = "#bb2e36";
            
            $('#board').children().remove();

            $.get("/game/" + gameId + "/moves", function (data) {
                game = new DartBoard(null, playMove, data);
                game.PendingPlayerID = data.PendingPlayerID;
                if (game.PendingPlayerID == @ViewBag.User.ID)
                {
                    isMyTurn = true;
                    $('#turnDialog').html("It's your turn.");
                }
                else
                {
                    isMyTurn = false;
                    $('#turnDialog').html("Waiting for other player");
                }
            }, "json");
        });
    }  

    (function () {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js#xfbml=1';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    } ());

</script>

<h2>Template</h2>
<p>
	Konrad Group Template
</p>

@ViewBag.access_token

<a id="registerLink" href="https://www.facebook.com/dialog/oauth?client_id=@PolarTicTacToe.Utils.GlobalVars.FB_APP_ID&redirect_uri=@PolarTicTacToe.Utils.GlobalVars.WEBSITE_URL">Register</a>


<img id="image"/>  
<p id="name" style="padding-bottom:7px; font-weight:bold; font-size:13px;" color="white"></p>

Search: <input id="searchText" type="text" />

<ul id="friendsList">
</ul>   

<h2 id="winner"></h2>

<h3 id="turnDialog"></h3>

<div id="board" style="width:500px; height:500px;"></div>

