@{
    ViewBag.Title = "Play";
}

@section ExtraHeaderContent {
<script type="text/javascript" src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
}

@section FooterScripts {
<script type="text/javascript" src="/assets/js/game.js"></script>
}

<h2>Play</h2>

<form action="/game/@ViewBag.Game.ID/playmove" method="post">
    x: <input type="text" name="x" />
    y: <input type="text" name="y" />
    <input type="submit" value="submit" />
</form>
